html,body {
    height:100%;
    background:#f5f7fa;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display:block;
    background:#b7d7f0;
    padding:15px 0px;
    text-align: center;
}
section {
    width: 79%;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
    color: black;
}
footer {
    position: relative;
    margin-top: -50px;
    height: 40px;
    padding:10px 0px;
    clear: both;
    background: #b7d7f0;
    text-align: center;
    color: black;
}